.container-sales {
  width: 75%;
  margin: 5% auto;
  position: relative;
  font-family: "Nunito", sans-serif;
}

.text-sales {
  color: #000;
  font-weight: 600;
  text-align: left;
}

div.slick-slider {
  width: 100%;
  overflow: hidden;
}

button.slick-arrow.slick-prev {
  position: absolute;
  left: -11%;
  top: 50%;
}

button.slick-arrow.slick-next {
  position: absolute;
  right: -11%;
  top: 50%;
}

div.slick-track {
  display: flex;
  width: 100%;
}

.img-product {
  width: 80%;
  margin: auto;
}

.item-product {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: #424242;
}


.price {
  width: 80%;
  text-align: center;
  margin: 2% auto;
  font-weight: 800;
  font-size: 0.9rem;
  color: #000;
}

.buy {
  background-color: #000;
  color: #ffffff;
  border: solid 1px #000;
  border-radius: 0.313rem;
  height: 2rem;
  width: 7rem;
  font-size: 0.6rem;
  
}
