.slick-slider{
    position: relative;
}

.slick-dots {
	bottom: 4px;
	width: 100%;
	margin: 0;
	list-style: none;
	text-align: center;
    position: inherit;
    margin-top: -2%;
    position: absolute;
    z-index: 1;
}

.slick-dots li button {
	font-size: 0;
	line-height: 0;
	display: block;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	color: white;
	border: 0;
	outline: 0;
	background: 0 0;
}

.slick-dots li button:focus, .slick-dots li button:hover {
	outline: 0;
}

.slick-dots li.slick-active button::before {
	opacity: .75;
	color: red;
}

.slick-dots li.slick-active button::after {
	opacity: .75;
	color: white;
}

.slick-dots li button::before {
	font-size: 6px;
	line-height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	content: '•';
	text-align: center;
	opacity: .25;
	color: white;
}